body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(120deg, 
    var(--color-pink), var(--color-khaki), crimson);
}
:root{
    --color-gray: #50514F;
    --color--light-gray: #CBD4C2;
    --color-white: #FFFCFF;
    --color-blue: #00B4D8;
    --color-khaki: #C3B299;
    --color-orange: #ee9b00;
    --color-pink: #DDA0DD;
}
.wrapper{
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.player{
    border: solid 0.15rem white;
    background: linear-gradient(10deg, var(--color-orange), var(--color-blue));
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 24rem;
    height: auto;
}
.player-pic{
    aspect-ratio: 1/1;
    margin-top: 5vh;
    border: solid 0.15rem white;
    width: 80%;
    border-radius: 2rem;
}
.container{
    width: 90%;
    margin-top: 1rem;
}
.audio-player{
    display: none;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.audio-track-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.player-song-time{
    width: 60%;
}

.player-titles{
    max-width: 100%;
    margin-top: 0.5rem;
}
.player-titles h2, .player-titles h4, h3{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: center;
    margin: 0.1rem;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.controls-buttons{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    background-color: transparent;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: none;
    transition: opacity 0.25s;
}
button img{
    width: 100%;
}
button:hover{
    opacity: 0.6;
    cursor: pointer;
}
input{
    accent-color: white;
}
input:hover{
    cursor: pointer;
}
.scroll-left, .play-pause, .scroll-right{
    width: 4rem;
    height: 4rem;
}
.volume{
    width: 3rem;
    height: 3rem;
}
.controls-sound{
    width: 90%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
.sound-volume{
    width: 3rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}
footer{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.footer-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;
    text-decoration: none;
}
footer img{
    width: 1.5rem;
}
footer h4{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}